@import variables

html
	font-family: Arial
	padding: 0px
	margin: 0px
	font-size: 14px
	color: #343434
	body
		background-color: $body-background-color
		.row
			width: $ancho-m
			margin: 0 auto 12px
			background-color: white
			border: solid 1px #ccc
			box-sizing: border-box
			padding: 10px
		.header
			@extend .row
			color: red
		.content
			@extend .row
		.footer
			@extend .row
